<div class="card justify-content-center m-auto" style="width: 70rem; height: 0rem">
  <div class="card-body">
    <h5 class="card-title">FORM SIGN UP</h5>
    <form>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com">

        <label>Password</label>
        <input type="password" class="form-control">

        <label>Confirm Password</label>
        <input type="password" class="form-control">

        <label>Country</label>
        <input type="text" class="form-control">

        <label class="mt-2">Age</label>
        <input type="number" class="form-control">

        <label class="mt-1 p-3"> Gender </label>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Nam</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Nữ</label>
        </div>
      </div>
      <label class="mt-2">Phone</label>
      <input type="number" class="form-control">
      <button type="submit" class="btn btn-primary  mt-2">Sign in</button>
    </form>
  </div>
</div>
