<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template::header('List products')}">
</head>
<body>
<div th:replace="~{template/template::pageloader}"></div>
<nav th:replace="~{template/template::navbar}"></nav>

<div>
</div>

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Category products List
                            <br>
                            <span style="color: green" th:text="${message}"></span>
                        </h2>
                    </div>
                    <div class="body table-responsive">
                        <a th:href="@{/productType/create}" class="btn btn-primary btn-custom">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add new Product Type
                        </a>

                        <table class="table table-striped" id="dataTable-listStudent">
                            <thead>
                            <tr>
                                        <th>STT</th>
                                        <th> ID </th>
                                        <th>NAME</th>
                                        <th>DETAIL</th>
                            </tr>
                            </thead>
                            <tbody th:each="cate, iter: ${productType}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${cate.idProductType}"></td>
                                    <td th:text="${cate.name}"></td>
                                    <td><a th:href="@{/productType/detail/{idProductType}(idProductType=*{cate.idProductType})}">Detail</a></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="~{template/template::script}"></div>
<div th:replace="~{template/template::footer}"></div>
</body>
</html>