<app-navbar></app-navbar>
<div
  class="row shadow-lg p-3 md-5 bg-white rounded p-9 rounded-8 justify-content-center fix bg-form form-service-list"
>
  <h1 class="md-auto">Service</h1>
  <button routerLink="/add-service" class="btn btn-danger w-100">
    ADD NEW SERVICE
  </button>
  <div class="row">
    <div></div>
    <div class="col-md-4 p-3" *ngFor="let item of serviceList">
      <div class="card md-3">
        <img src="{{ item.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.serviceName }}</h5>
          <p class="card-text">
            <small class="text-muted"
              >Diện Tích Phòng: {{ item.serviceArea }} m2</small
            >
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Tiện ích : {{ item.descriptionOtherConvenience }}
            </small>
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Giá phòng : {{ item.serviceCost | currency : "USD" }}
            </small>
          </p>
        </div>
        <div class="card-body d-flex justify-content-center">
          <button class="btn btn btn-warning" routerLink="/edit-service">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#modalDelete"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center m-md-auto">
    <nav aria-label="Page navigation example ">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal delete-->
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="" method="get" id="formDelete" hidden>
          <input type="text" name="idCustomer" id="idCustomer" />
        </form>
        Are you sure delete this service ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
