.bg-ser{
  background-color: red;
}
a{
  color: #ff0000;
}
a:hover{
  background-color: green;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
}

h1{
  color: aliceblue;
}

fix{
  position: fixed;
}

.form-service-list{

  margin: 34px 150px; border-radius: 10px;
}

.card {
  box-shadow: 0 0 100px 0 rgba(100, 255, 255, 0.26);
}
