<h1 class="calculator"> Calculator </h1>
<div class="table">
  <table class="table-active">
    <tr>
      <th colspan="4">
        <p class="bg-light" id="Result"></p>
      </th>

    </tr>
    <tr>
      <th>
        <button class="btn-danger" value="7" (click)="hamSo(7)">7</button>
      </th>
      <th>
        <button class="btn-danger" value="8"  (click)="hamSo(8)" >8</button>
      </th>
      <th>
        <button class="btn-danger" value="9"  (click)="hamSo(9)">9</button>
      </th>
      <th>
        <button class="btn-danger" value="/" (click)="hamTinh('/')">/</button>
      </th>
    </tr>
    <tr>
      <th>
        <button class="btn-danger" value="4"  (click)="hamSo(4)">4</button>
      </th>
      <th>
        <button class="btn-danger" value="5"  (click)="hamSo(5)">5</button>
      </th>
      <th>
        <button class="btn-danger" value="6"  (click)="hamSo(6)">6</button>
      </th>
      <th>
        <button class="btn-danger" value="x" (click)="hamTinh('*')">x</button>
      </th>
    </tr>
    <tr>
      <th>
        <button class="btn-danger " value="1"  (click)="hamSo(1)">1</button>
      </th>
      <th>
        <button class="btn-danger" value="2"  (click)="hamSo(2)">2</button>
      </th>
      <th>
        <button class="btn-danger" value="3"  (click)="hamSo(3)">3</button>
      </th>
      <th>
        <button class="btn-danger" value="-" (click)="hamTinh('-')">-</button>
      </th>
    </tr>

    <tr>
      <th>
        <button class="btn-danger" value="0"  (click)="hamSo(0)">0</button>
      </th>
      <th>
        <button class="btn-danger" (click)="del()">C</button>
      </th>
      <th>
        <button class="btn-danger" (click)="ketQuaTinhToan()">=</button>
      </th>
      <th>
        <button class="btn-danger" (click)="hamTinh('+')" >+</button>
      </th>
    </tr>
  </table>
</div>

