<!DOCTYPE html>
<!-- khai báo thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Detail Product</h1>
    <table border="1" th:object="${product}">
        <tr>
            <td>ID</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td th:text="*{price}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${product.description}"></td>
        </tr>
        <tr>
            <td>Manufacturers</td>
            <td th:text="${product.manufacturers}"></td>
        </tr>
    </table>
    <div th:insert="~{template.html::footer}"></div>
</body>
</html>