<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create new products</h1>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <table border="1">
        <tr>
            <td hidden>ID</td>
            <td hidden><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <th> Type Product</th>
            <th>
                <select th:field="*{productType}" class="form-control" tabindex="4">
                    <option th:each="productType : ${productType}"
                            th:value="${productType.idProductType}"
                            th:text="${productType.name}"/>
                    th:selected="${productType.idProductType.equals(product.productType.idProductType)}"/>
                </select>
            </th>

        </tr>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>

        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>

        <tr>
            <td>datePublish</td>
            <td><input type="date" th:field="*{datePublish}"></td>
        </tr>

        <tr>
            <td>description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>

        <tr>
            <td><input type="reset" value="Reset"></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>