<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update products</h1>
<form th:action="@{/products/update}" method="post" th:object="${products}">
    <table border="1">
        <tr>
            <td hidden>ID</td>
            <td hidden><input type="text" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><input type="text" name="content" th:field="*{content}"></td>
        </tr>
        <tr>
            <td><input type="reset" value="Reset"></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>