#black{
    background-color: black;
}
#background{
    background-color: yellow;
}
td{
    border-spacing: 0px;
    padding: 10px;
    
}

table{
    border-spacing: 0px;
}
td:hover{
    background-color: crimson;
}