<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Đăng ký</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="register.component.css">
</head>
<body>
<!-- Section: Design Block -->
<section class="text-center" style="background-color: #eee; text-align: center">
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        backdrop-filter: blur(30px);">
    <div class="card-body py-4 px-md-4">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-7">
          <h2 class="fw-bold mb-5">Đăng ký tài khoản</h2>
          <form [formGroup]="signupRequestForm" (ngSubmit)="getSignupRequest()">
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Tài Khoản<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="text" class="form-control" formControlName="username">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('username').hasError('required') && signupRequestForm.get('username').touched">
                  Tài khoản không được để trống</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('username').hasError('minlength') && signupRequestForm.get('username').touched">
                  Tài khoản có ít nhất 5 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('username').hasError('maxlength') && signupRequestForm.get('username').touched">
                  Tài khoản có nhiều nhất 50 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('username').hasError('pattern') && signupRequestForm.get('username').touched">
                  Tài khoản chưa đúng định dạng </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Mật Khẩu<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="password" class="form-control" formControlName="password">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('password').hasError('required') && signupRequestForm.get('password').touched">
            Mật khẩu không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('password').hasError('pattern') && signupRequestForm.get('password').touched">
            Mật khẩu không đúng định dạng
        </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Nhập Lại Mật Khẩu<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="password" class="form-control" formControlName="confirmPassword">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('confirmPassword').hasError('required') && signupRequestForm.get('confirmPassword').touched">
            Nhập lại mật khẩu không được để trống
        </span>
                <span style="color: red"
                      *ngIf="signupRequestForm.hasError('passwordnotmatch') && signupRequestForm.get('confirmPassword').touched">
                  Mật khẩu không trùng nhau
              </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Họ Tên<span style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="text" class="form-control" formControlName="fullName">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('fullName').hasError('required') && signupRequestForm.get('fullName').touched">
            Họ tên không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('fullName').hasError('minlength') && signupRequestForm.get('fullName').touched">
                  Họ tên có ít nhất 5 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('fullName').hasError('maxlength') && signupRequestForm.get('fullName').touched">
                  Họ tên có nhiều nhất 50 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('fullName').hasError('pattern') && signupRequestForm.get('fullName').touched">
                  Họ tên chưa đúng định dạng </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Ngày Sinh<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="date" class="form-control" formControlName="birthday">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('birthday').hasError('required') && signupRequestForm.get('birthday').touched">
            Ngày sinh không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('birthday').hasError('checkAge') && signupRequestForm.get('birthday').touched">
                  Tuổi từ 18 đến 90 tuổi
                </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <legend class="col-form-label col-sm-4 pt-0" style="text-align: right">Giới Tính<span style="color: red"> *</span>
              </legend>
              <div class="col-sm-4" style="text-align: left">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="true"
                         formControlName="gender">
                  <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="false"
                         formControlName="gender">
                  <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
                <br>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('gender').hasError('required') && (signupRequestForm.get('gender').dirty || signupRequestForm.get('gender').touched)">
            Giới tính không được để trống
        </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">CMND<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="text" class="form-control" formControlName="cardId">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('cardId').hasError('required') && signupRequestForm.get('cardId').touched">
            CMND không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('cardId').hasError('pattern') && signupRequestForm.get('cardId').touched">
                  CMND chưa đúng định dạng </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Email<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="text" class="form-control" formControlName="email">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('email').hasError('required') && signupRequestForm.get('email').touched">
            Email không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('email').hasError('minlength') && signupRequestForm.get('email').touched">
                  Email có ít nhất 5 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('email').hasError('maxlength') && signupRequestForm.get('email').touched">
                  Email có nhiều nhất 50 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('email').hasError('pattern') && signupRequestForm.get('email').touched">
                  Email chưa đúng định dạng </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label" style="text-align: right">Địa Chỉ<span style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="text" class="form-control" formControlName="address">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('address').hasError('required') && signupRequestForm.get('address').touched">
            Địa chỉ không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('address').hasError('minlength') && signupRequestForm.get('address').touched">
                  Địa chỉ có ít nhất 5 kí tự</span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('address').hasError('maxlength') && signupRequestForm.get('address').touched">
                  Địa chỉ có nhiều nhất 50 kí tự</span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-4">
              <label class="col-sm-4 col-form-label" style="text-align: right">Số Điện Thoại<span
                style="color: red"> *</span></label>
              <div class="col-sm-4" style="text-align: left">
                <input type="text" class="form-control" formControlName="phoneNumber">
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('phoneNumber').hasError('required') && signupRequestForm.get('phoneNumber').touched">
            Số điện thoại không được để trống
        </span>
                <span style="color: red; font-size: 15px"
                      *ngIf="signupRequestForm.get('phoneNumber').hasError('pattern') && signupRequestForm.get('phoneNumber').touched">
                  Số điện thoại chưa đúng định dạng </span>
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label"></label>
              <div class="col-sm-8" style="text-align: left">
                <button type="submit" class="btn btn-primary border-0"
                        style="background-color: #f26b38; margin-right: 5px" [disabled]="!signupRequestForm.valid">
                  Đăng ký
                </button>
                <button type="button" class="btn btn-primary border-0" style="background-color: #f26b38;">
                  <a href="#" style="color: aliceblue; text-decoration: none">Quay lại</a>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
</body>
</html>


