section .card a:hover,
section .card a:focus,
section .card a:active {
  color: #F26B38;
}
.pagination .page-link:hover {
  background-color: #F26B38;
  color: aliceblue;
}
.text-decoration-none{
  color: rgb(0, 0, 0);
}
.breadcrumb-item a:hover{
  color: #f26b38;
}
section .card a:not(:hover) {
  color: rgb(0, 0, 0);
}
/*button:hover{*/
/*  color: black;*/
/*}*/
.card .mb-4{
  font-weight: 500
}
html,body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #43464B;
  margin: 0 auto;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}
