<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/app.js"></script>

</head>
<body>
<h1>Trang list Product</h1>
<h2 th:if="${user != null}">Xin chào bạn <span th:text="${user}"></span></h2>
<h2>Số lần truy cập trang web của bạn là <span th:text="${count}"></span></h2>
<a th:href="@{/create}">Them moi</a>
<form action="/list/search" method="get">
    <input type="text" name="tenKhachHang" placeholder="Ten khach Hang">
<!--    <select th:field="*questionType">-->
<!--        <option th:each="questionTpye:${listQuestionType}" th:value="${questionTpye.id}" th:text="${questionTpye.name}"></option>-->
<!--    </select>-->
    <input type="submit" value="Search">
</form>
<!-- search = ajax-->
<input type="text" id="idQuestion">
<button onclick="findByid()">Find Quesntion By Id (Ajax)</button>
<table class="table table-dark">
    <tr>
        <th>Ma giao dich</th>
        <th>Ten Khach Hang</th>
        <th>Ngay Giao dich</th>
        <th>Loai dich vu</th>
        <th>Don gia</th>
        <th>Dien Tich</th>
        <th>Action</th>
    </tr>
    <tbody id="result">
    <tr th:each="question:${listQuestion}">
        <td><p th:text=${question.id}></td>
        <td><p th:text=${question.questionType.name}></td>
        <td><p th:text=${question.date}></td>
<!--        <td th:text="*{#dates.format(birthdate, 'yyyy-MM-dd')}"></td>-->
        <td><p th:text=${question.loaiDichVu}></td>
        <td><p th:text=${question.dongia}></td>
        <td><p th:text=${question.dienTich}></td>
        <td>
            <!-- Button trigger modal -->
            <a th:href="@{/detail/{tenKhachHang}(tenKhachHang=${question.id})}">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${listQuestion.totalPages}>1">
    <span>
        <a th:if = "${listQuestion.hasPrevious()}"
           th:href="@{/list5(page = ${listQuestion.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(1,listQuestion.totalPages - 1)}">
        <a th:href="@{/list5(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if = "${listQuestion.hasNext()}"
           th:href="@{/list5(page = ${listQuestion.number +1})}">Next</a>
    </span>
</div>

</body>
</html>