body{
    background-color: rgb(24, 255, 236);
}
h1{
    color: rgb(255, 2, 2);
    text-shadow: 1px 1px 2px rgb(48, 46, 46), 0 0 25px blue, 0 0 5px darkblue;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 25px;
    width: 1500px;
    height: 50px;

}
table{
    border: 15px solid rgb(84, 253, 169);
    box-shadow: 20px 20px 50px 15px black;
    background-color: #ff61a3;
    width: 500px;
    height: 500px;
    font-size: 50px;
    margin: 100px 482px 480px 459px;
    padding: 10px;
    border-radius:25px 25px 25px / 25px 25px;
}
.button{
    color: #00ffe0;
    background-color: black;
    font-size: 70px;
    height: 80px;
    width: 80px;
    border: 5px solid darkgray;
}
.manhHinh{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 70px;
    height: 70px;
    width: 520px;
    border: 10px;
    text-align: right;
    border: 5px solid white;
    background-color: rgb(16, 214, 53);
    border-radius:5px 5px 5px / 5px 5px;
}
