<div class="container-fluid bg-customer-add w-75 m-auto">
  <h1
    style="font-size: 35px; font-weight: bold; color: white; margin-left: 276px"
  >
    Create Customer
  </h1>
  <div class="row m-auto">
    <div class="col"></div>
    <div class="col-11">
      <div class="container-fluid">
        <div class="row m-4 d-flex">
          <div class="col-5">
            <a routerLink="" class="btn btn-warning"> Back to home </a>
          </div>
        </div>
        <div class="row m-4 d-flex">
          <div class="col-6 justify-content-center d-flex">
            <form
              [formGroup]="userFormCustomer"
              (ngSubmit)="createUser()"
              method="post"
            >
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Mã khách hàng: </label>
                  </div>
                  <div class="col-9">
                    <input
                      formControlName="IdCustomer"
                      type="text"
                      class="form-control"
                    />
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.IdCustomer.hasError(
                          'required'
                        ) && userFormCustomer.controls.IdCustomer.touched
                      "
                    >
                      Không được để trống
                    </p>
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.IdCustomer.hasError('pattern')
                      "
                    >
                      Mã Khách hàng có định dạng là KH-XXXX (X là số từ 0-9).
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Name: </label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      formControlName="nameCustomer"
                      class="form-control"
                    />
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.nameCustomer.hasError(
                          'required'
                        ) && userFormCustomer.controls.nameCustomer.touched
                      "
                    >
                      không được để trống
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label for="position" class="form-label"
                      >Customer Type:
                    </label>
                  </div>
                  <div class="col-9">
                    <select required formControlName="customerType">
                      <option disabled selected value="">Loai khach hang</option>
                      <option>Diamond</option>
                      <option>Platinium</option>
                      <option>Gold</option>
                      <option>Silver</option>
                      <option>Member</option>
                      <!-- <p class="text-danger" *ngIf="userFormCustomer.controls.customerType.hasError('required')">không được để trống</p> -->
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label for="employeeBirthday" class="form-label"
                      >Birthday:
                    </label>
                  </div>
                  <div class="col-9">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="customerBirthday"
                    />
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerBirthday.hasError(
                          'required'
                        ) && userFormCustomer.controls.customerBirthday.touched
                      "
                    >
                      không được để trống
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Customer Gender: </label>
                  </div>
                  <div class="col-9">
                    <div class="form-group">
                      <div class="form-line m-4">
                        <input
                          type="radio"
                          th:value="true"
                          name="gender"
                          id="male"
                          style="margin: 20px"
                          th:tabindex="8"
                        />
                        <label> Nam</label>
                        <input
                          type="radio"
                          id="female"
                          name="gender"
                          style="margin: 20px"
                        />
                        <label> Nữ </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">customer Id Card: </label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="customerIdCard"
                    />
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerIdCard.hasError(
                          'required'
                        ) && userFormCustomer.controls.customerIdCard.touched
                      "
                    >
                      không được để trống
                    </p>
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerIdCard.hasError(
                          'pattern'
                        )
                      "
                    >
                      Số CMND phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X
                      là số 0-9).
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Phone: </label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="customerPhone"
                    />
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerPhone.hasError(
                          'required'
                        ) && userFormCustomer.controls.customerPhone.touched
                      "
                    >
                      không được để trống
                    </p>
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerPhone.hasError(
                          'pattern'
                        )
                      "
                    >
                      Số điện thoại phải đúng định dạng 090xxxxxxx hoặc
                      091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx.
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Email: </label>
                  </div>
                  <div class="col-9">
                    <input
                      type="email"
                      class="form-control"
                      formControlName="customerEmail"
                    />
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerEmail.hasError(
                          'required'
                        ) && userFormCustomer.controls.customerEmail.touched
                      "
                    >
                      không được để trống
                    </p>
                    <p
                      class="text-danger"
                      *ngIf="
                        userFormCustomer.controls.customerEmail.hasError(
                          'pattern'
                        )
                      "
                    >
                      Địa chỉ Email phải đúng format .
                    </p>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col-3">
                    <label class="form-label">Address: </label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="row m-auto">
                  <div class="col-3"></div>
                  <div class="col-9">
                    <button
                      type="submit"
                      style="margin-right: 75px"
                      class="btn btn-danger"
                    >
                      Save
                    </button>
                    <button
                      routerLink="/list-customer"
                      type="submit"
                      class="btn btn-secondary"
                    >
                      Back
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
